## dnsmasq conf file created by libvirt
strict-order
#pid-file=/run/libvirt/network/default.pid
except-interface=lo
bind-dynamic
interface=baremetal
dhcp-range=interfae:baremetal,192.168.111.40,192.168.111.60,255.255.255.0
dhcp-no-override
dhcp-authoritative
dhcp-lease-max=253
dhcp-hostsfile=/var/lib/dnsmasq/ocp4.hostsfile
addn-hosts=/var/lib/dnsmasq/ocp4.addnhosts
